// btn variables
$btn-padding: 10px 20px;

@mixin btn-builder() {
	display: inline;
	padding: $btn-padding;
	margin:  0 0 $ln-spacing-1 0;
	border: none;
	border-radius: none;
	text-align: center;
	text-decoration: none;
	font-weight: $ln-font-weight-3;
	box-shadow: $ln-bs-1;
	cursor: pointer;

	&:hover {
		box-shadow: $ln-bs-2;
	}

	&:not(:last-of-type) {
		margin-right: $ln-spacing-1;
	}
}

.ln-btn {
	@each $action, $value in $ln-btn-colors {
		&--#{$action} {
			@include btn-builder;
			@include transition;
			background-color: nth($value, 1);
			color: set-text-color(nth($value, 1));
			&:hover {
				background-color: nth($value, 2);
				color: set-text-color(nth($value, 2));
			}
			&.active {
				background-color: nth($value, 2);
				color: set-text-color(nth($value, 2));
			}
		}
	}
}