%view {
  min-height: calc(100vh - 50px);
  margin: 0 auto;
  @include grid-builder(12);
}

.ln-view--landing {
  @extend %view;
  max-width: 1200px;
}

.ln-view--content {
  @extend %view;
  max-width: 900px;
}

.ln-view--console {
  @extend %view;
}

// sidebar component
.ln-sidebar {
  padding: $ln-spacing-2;
  background-color: $ln-color-bg-dark;
}

// sections

%section {
  padding: $ln-spacing-2;
  max-width: 100%;
}

.ln-container {
  @extend %section;
}

.ln-section {
  // @extend %section;
  min-height: 100vh;
}

.ln-section--banner {
  // @extend %section;
  min-height: 300px;
}

.ln-section--slide {
  // @extend %section;
  max-height: calc(100vh - 50px);
}

.ln-block--fragment {
  padding: $ln-spacing-2;
}


.ln-item-container {
  padding: $ln-spacing-1;
  @include flex(row, wrap, center, flex-start);
  @include bp($ln-bp-med) {
    @include flex(row, wrap);
  }
}

.ln-label--checkbox {
  
}