// btn variables

$btn-font: '';
$btn-font-size: 16px;
$btn-font-color: black;
$btn-border-radius: 0;
$btn-padding: .5rem 1rem;
$btn-margin: 0;

$btn-sizes: (
  "sml": 12px,
	"med": 16px,
	"lrg": 20px
);

$btn-colors: (
	'confirm': lightblue,
	'default': lightgrey,
	'caution': lightyellow,
	'warning': orange,
	'success': lightgreen,
	'danger': red
);

@function set-text-color($color) {
  @if (lightness($color) > 50) {
    @return #000000; // Lighter backgorund, return dark color
  } @else {
    @return #ffffff; // Darker background, return light color
  }
}

$btn-types: 'round' 'fluid';

@mixin btn-builder() {
	display: inline;
	padding: $ln-spacing-1 $ln-spacing-3;
	margin: 0;
	border: none;
	border-radius: none;
	text-align: center;
	text-decoration: none;
	font-weight: $ln-font-weight-3;
	box-shadow: $ln-bs-1;
	cursor: pointer;

	&:hover {
		box-shadow: $ln-bs-2;
	}

	&:not(:first-of-type) {
		margin-left: $ln-spacing-1;
	}
}

.ln-btn {
	@each $action, $value in $ln-btn-colors {
		&--#{$action} {
			@include btn-builder;
			@include transition;
			background-color: nth($value, 1);
			color: set-text-color(nth($value, 1));
			&:hover {
				background-color: nth($value, 2);
				color: set-text-color(nth($value, 2));
			}
		}
	}
}