// btn variables

$btn-font: '';
$btn-font-size: 16px;
$btn-font-color: black;
$btn-border-radius: 0;
// $btn-padding: .5rem 1rem;
$btn-padding: 10px 20px;
$btn-margin: 0;

$btn-sizes: (
  "sml": 12px,
	"med": 16px,
	"lrg": 20px
);

$btn-types: 'round' 'fluid';

@mixin btn-builder() {
	display: inline;
	padding: $btn-padding;
	margin: 0;
	border: none;
	border-radius: none;
	text-align: center;
	text-decoration: none;
	font-weight: $ln-font-weight-3;
	box-shadow: $ln-bs-1;
	cursor: pointer;

	&:hover {
		box-shadow: $ln-bs-2;
	}

	&:not(:first-of-type) {
		margin-left: $ln-spacing-1;
	}
}

.ln-btn {
	@each $action, $value in $ln-btn-colors {
		&--#{$action} {
			@include btn-builder;
			@include transition;
			background-color: nth($value, 1);
			color: set-text-color(nth($value, 1));
			&:hover {
				background-color: nth($value, 2);
				color: set-text-color(nth($value, 2));
			}
		}
	}
}