/**
* Global variabls contain information
* related styling of the application
*/

// leinary colors

// Indigo
$indigo: #223843;
$indigo-varients: #223843 #475C67 #7D8C94 #A9B3B7;

// Lava
$lava: #D1102D;
$lava-varients: #D1102D #DA4057 #E37081 #ED9FAB;

// tigerseye
$tigerseye: #D8973C;
$tigerseye-varients: #D8973C #E0AC63 #E8C18A #EFD5B1;

// metallicseaweed
$metallicseaweed: #087E8B;
$metallicseaweed-varients: #087E8B #3998A2 #6BB2B9 #9CCBD1;

//orangesoca
$orangesoca: #F85A3E;
$orangesoca-varients: #F85A3E #F97B65 #FB9C8B #FCBDB2;

//bottlegreen
$bottlegreen: #0B6E4F;
$bottlegreen-varients: #0B6E4F #3C8B72 #6DA895 #9DC5B9;

// Neutral colors
$greyscale: #4A585E #6E797E #929B9E #B7BCBF #DBDEDF #FCFCFC;
$ln-darkgrey: nth($greyscale, 1); // Primary headers, body text
$ln-grey: nth($greyscale, 2); // Secondary Headers, Supporting Text
$ln-lightgrey: nth($greyscale, 3); // Border Lines, Disabled Buttons
$ln-brightgrey: nth($greyscale, 4); // Backgrounds
$ln-lightestgrey: nth($greyscale, 5); // Backgrounds
$ln-white: nth($greyscale, 6); // Backgrounds, Light Body Text

$lightest: #FCFCFC;
$light: #EEEEEE;
$semi-light: #C3C7C9;
$grey: #697479;
$darkgrey: #4A585E;

// Color variable alias
$ln-color-pri: $indigo;
$ln-color-sec: $lava;
$ln-color-aux-1: $tigerseye;
$ln-color-aux-2: $metallicseaweed;
$ln-color-aux-3: $orangesoca;
$ln-color-aux-4: $bottlegreen;

// Background color variable alias
$ln-color-bg-light: $lightest;
$ln-color-bg-light-alt: $light;
$ln-color-bg-dark-alt: $grey;
$ln-color-bg-dark: $darkgrey;

// Font color variable alias
$ln-color-txt-light: $lightest;
$ln-color-txt-grey: $grey;
$ln-color-txt-dark: $darkgrey;
$ln-color-txt-darkest: $indigo;

// Status and Alert Variable Alias
$ln-confirm: #084887;
$ln-confirm-varients: #084887 #396D9F #6B91B7 #9CB6CF;
$ln-success: #5BBA6F;
$ln-success-varients: #5BBA6F #7CC88C #9DD6A9 #BDE3C5;
$ln-caution: #FFCC42;
$ln-caution-varients: #FFCC42 #FFD668 #FFE08E #FFEBB3;
$ln-warning: #B0413E;
$ln-warning-varients: #B0413E #C06765 #D08D8B #DFB3B2;

$ln-colors: (
  "indigo": $ln-color-pri,
  "lava": $ln-color-sec
  );

// Button and Alert Colors
$ln-btn-colors: (
  "confirm": $ln-confirm-varients,
  "success": $ln-success-varients,
  "caution": $ln-caution-varients,
  "warning": $ln-warning-varients,
  "primary": $indigo-varients
);

// Leinary Fonts
$ln-font-pri: 'Muli', sans-serif;
$ln-font-alt: 'Amiri', serif;

$ln-line-height-base: 140%;
$ln-line-height-cont: 180%;

$ln-font-base-size: 16px;

$ln-font-tny: .75rem;
$ln-font-sml: .875rem;
$ln-font-med: 1rem;
$ln-font-lrg: 1.125rem;

$ln-font-heading-sml: 1.375rem;
$ln-font-heading-med: 1.625rem;
$ln-font-heading-lrg: 1.75rem;

$ln-font-weight-1: 300;
$ln-font-weight-2: 400;
$ln-font-weight-3: 700;

//leinary major break points
$ln-bp-sml: 575px;
$ln-bp-med: 760px;
$ln-bp-lrg: 1024px;

$ln-break-points: (
  "sml": $ln-bp-sml,
  "med": $ln-bp-med,
  "lrg": $ln-bp-med
);

// Spacing
$ln-spacing-1: .5rem;
$ln-spacing-2: 1rem;
$ln-spacing-3: 1.5rem;

// Z-index
$ln-z-floor: 0;
$ln-z-float: 10;
$ln-z-hover: 20; // modal
$ln-z-alert: 80; 
$ln-z-ceiling: 100;

// Box-Shadow
$ln-bs-1: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
$ln-bs-2: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
$ln-bs-3: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);

// Grid 
$ln-grid-columns: 12;

// Border Radius
$ln-br-1: 2px;
$ln-br-2: 5px;
$ln-br-3: 7px;